[Unit]
Description=BirdBot USB Dump
After=network.target

[Service]
Type=idle
Restart=on-failure
User=root
WorkingDirectory=/home/pi/BirdBotV1/src/python
ExecStart=/usr/bin/python3 usbDump.py
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target